.test-class {
  font-size: 3rem;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Proxima Nova !important;
  font-weight: 600 !important;
}

.event-info-wrapper,
.section-wrapper {
  background-color: #000000 !important;
}

.session-item-container {
  background-color: #ffffff !important;
}

.card-content,
.bt-card {
  border-radius: 0 !important;
  border-left: 10px solid !important;
  border-image: repeating-linear-gradient(
      180deg,
      #bc0000 0%,
      #bc0000 25%,
      #000000 25%,
      #000000 50%,
      #008542 50%,
      #008542 75%,
      #ffcd00 75%,
      #ffcd00 100%
    )
    1 !important;
}

.card-wrapper .card-header,
.bt-card-header,
.card-header {
  border-bottom: 2px solid !important;
  border-color: rgba(0, 0, 0, 0.5) !important;
}

.headline {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5) !important;
}
